/*

    Name: Rezwan Ahmed
    Date: 3/10/22
    Descrp: CSS file for style of webpage password
    Note: CSS style for password page created on visual studio code
*/



    /*image found on google I DO NOT OWN OR TAKE CREDIT OF IMAGE */
    body{
        background-image: url("https://cdn.wallpapersafari.com/85/50/RlTbEg.png");
        color: white;
    }

    /*boder lineup for sign in page */
    .border_line{
        margin-right: -50%;
        background: rgb(104, 104, 97);
        position: fixed;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        border-radius: 1em;
        padding: 3em;
        display: block;
        width: 277px;
        height: 20em;
    }

    /*text input align in the center */
    input{
        width: inherit;
        /* margin-top: 5%; */
        margin-block: 5%;
        align-content: center;
        align-items: center;
        padding: 8px;
        margin: 5px;
        margin-inline: 0px;
        margin-bottom: 4em;
        text-align: center;
    }

    /*popup page when accepted the page*/
    .acceptPassword{
        width: 590px;
        background-color: rgb(241, 180, 89);
        color: aliceblue;
        text-align: center;
        border: 12px solid black;
        position: fixed;
        top: 35%;
        left: 25%;
    }

    .showing_pass{
        text-align: center;
    }
    p{
        font-size: 14px;
        color: rgb(22, 12, 12);
        text-align: center;
        width: initial;
        text-align: revert;
    }
    
